@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');
/*Regular 400  Medium 500  Semi-bold 600  Bold 700 font-family: 'Barlow Condensed', sans-serif;*/
/*Medium 500  Semi-bold 600   Bold 700 font-family: 'Jost', sans-serif;*/

/*.home_boxes_icon [class*="col-lg-6"] {margin-bottom: 30px;}*/


@font-face {
    font-family: 'proxima_nova_regwebfont';
    src: url('../fonts/proxima_nova_regwebfont.eot');
    src: url('../fonts/proxima_nova_regwebfont.eot') format('embedded-opentype'),
         url('../fonts/proxima_nova_regwebfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_regwebfont.woff') format('woff'),
         url('../fonts/proxima_nova_regwebfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_regwebfont.svg#proxima_nova_regwebfont') format('svg');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}


/*html {scroll-behavior: smooth;}*/

select::-ms-expand { display: none; }
img{max-width:100%;height:auto;}
a{  -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
h1 {font-size:48px;color:#232323; margin:0px 0px 30px 0px;padding:0px;line-height: 1.2;font-weight:700;font-family: 'Barlow Condensed', sans-serif;}
h2 {font-size:42px;color:#232323; margin:0px 0px 25px 0px;padding:0px;line-height: 1.2;font-weight:600;font-family: 'Barlow Condensed', sans-serif;}
h3 {font-size:36px;color:#232323; margin:0px 0px 25px 0px;padding:0px;line-height: 46px;font-weight:600;font-family: 'Barlow Condensed', sans-serif;}
h4 {font-size:24px;color:#232323; margin:0px 0px 25px 0px;padding:0px;line-height: 1.2;font-weight:600;font-family: 'Barlow Condensed', sans-serif;}
h5 {font-size:20px;color:#000000; margin:0px 0px 15px 0px;line-height: 25px;font-weight:600;font-family: 'Barlow Condensed', sans-serif;}
h6 {font-size:16px;color:#000000;margin:0px 0px 15px 0px;line-height: 1.1;font-weight:normal;font-family: 'Barlow Condensed', sans-serif;}

.spacer1px {clear:both;line-height:0;font-size:0;overflow:hidden;height:1px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer10px {clear:both;line-height:0;font-size:0;overflow:hidden;height:10px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer20px {clear:both;line-height:0;font-size:0;overflow:hidden;height:20px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer30px {clear:both;line-height:0;font-size:0;overflow:hidden;height:30px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer50px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer80px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer-grid {clear:both;line-height:0;font-size:0;overflow:hidden;height:26px; background:url(../images/grid.gif) repeat-x left top; margin:0px 0px 0px 0px;width:100%; border:none;}


body {
	overflow-x:hidden;
	color:#333333;
	font-size:16px;
	line-height:1.4; 
	margin:0px; 
	padding:0px; 
	outline:none;
	text-decoration:none;
	list-style:none;
	box-sizing: border-box;
	font-family: 'proxima_nova_regwebfont';
	background-color:#fff;
}

p{color:#333333;font-size:16px;line-height:1.4; margin:0px 0px 20px 0px;font-family: 'proxima_nova_regwebfont';}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover{ text-decoration:none;}

.form-control::-webkit-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control::-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control:-ms-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control:-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;}

:focus, button:focus {outline-style:none;box-shadow:none;border-color:transparent;}
*:focus {outline: none;}
input:focus{outline:none;}

.pagetitle{ position:relative; text-align:left; padding:0px 0px 70px 0px; }
.pagetitle h2{line-height: 1.1; font-size:51px;color:#fff;padding:0px; margin:0px 0px 0px 0px;}

img{max-width:100%;height:auto; outline:none;}
a{outline:none; border:none;}





.cover-background{ background:url(../images/middle-contact.jpg) no-repeat center center; background-size:cover;padding: 120px 0; text-align:center;margin-left: 1.9rem;margin-right: 1.9rem; position:relative;}
.cover-background:before{ opacity: 0.7;background: #000;content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;}   
.cover-background .container-fluid {z-index:2; position:relative;}
.cover-background h2{font-family: 'ProximaNovaBold'; font-weight:normal;font-size:3rem;}
	
	
	
	

/*==================== Footer =====================*/

footer {background: #2a334e;word-break: break-word}
.footer-style1>.container {padding-top: 60px;padding-bottom: 60px}
.footer-style1 p{color: #fff; font-size:14px;}
footer h4{font-family: 'ProximaNovaBold'; font-weight:normal;}
.footer-style1 h3 {color: #fff;font-size: 18px;font-family: 'ProximaNovaBold'; font-weight:normal;margin-bottom: 25px;line-height: 1;position: relative}
.footer-style1 .footer-bar {padding-top: 20px;padding-bottom: 20px;margin-top: 0;border-top: 1px solid rgba(255,255,255,0.075);color: rgba(255,255,255,0.85)}
.border-color-light-white {border-color: rgba(255,255,255,0.1) !important;}
.footer-style1 .footer-bar p {margin-top: 5px;margin-bottom: 0}
.footer-style1 ul {margin-bottom: 0}
.footer-style1 li {margin-bottom: 10px;list-style: none}
.footer-style1 li:last-child {margin-bottom: 0}
.footer-style1 li a {color: rgba(255,255,255,0.85)}
.footer-style1 li a:hover {color: #33d687}
.footer-style1 .social-icons2 ul {margin: 0;padding: 0}
.footer-style1 .social-icons2 li {display: inline-block;margin-right: 5px;margin-bottom: 0}
.footer-style1 .social-icons2 li:last-child {margin-right: 0}
.footer-style1 .social-icons2 li a {font-size: 14px;height: 35px;line-height: 36px;width: 35px;background: rgba(255,255,255,0.1);color: #fff;border-radius: 50px;display: inline-block;text-align: center}
.footer-style1 .social-icons2 li a:hover {background: #fff;color: #18adf1}
.border-color-light-white {border-bottom: 1px solid rgba(255,255,255,0.1)!important; padding-bottom:30px; margin-bottom:30px;}
.butn-style1{display: inline-block;-webkit-appearance: none;border: none;outline: none !important;background-color: #18adf1;color: #fff;font-size: 14px !important;
text-align: center;font-weight: 700;padding: 12px 30px !important;border-radius: 4px;transition: all 0.3s linear;}
.butn-style1:hover{ background-color:#1b1b1b;}

.footer-bar ul{ text-align:right;}
.footer-bar ul li{display:inline-block; position:relative;}
.footer-bar ul li a{display:inline-block; margin-left:15px;}
.footer-bar ul li:before{ position:absolute; left:7px; top:2px; content:''; width:1px; height:15px; background-color:#fff;}
.footer-bar ul li:first-child:before{display:none;}
.footer-logo img{ margin-bottom:20px;}
.footer-logo p{ padding-right:30px;}
.border-color-light-white i{color:#18adf1; font-size:30px; font-weight:normal; margin-right:15px; line-height:50px;}

.software-roll{ background-color:#18adf1; padding:20px 0px;}
.software-roll .item{ background:#fff; border-radius:5px;padding:10px; text-align:center;}
.software-roll .item img{ height:90px; width:auto;}








.butn-style-one {display: inline-block;-webkit-appearance: none;border: none;outline: none !important;background-color: #4e86ff;color: #fff;font-size: 16px !important;text-align: center;padding: 12px 50px !important;border-radius: 4px;font-family: 'ProximaNovaBold'; }
.butn-style-one:hover{ background-color:#1b1b1b;color: #fff;}





.spacer80px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.maas_welcome_sec{position: relative;padding: 90px 0px 220px 0px; background: #151515;}
.maas_welcome_sec_overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-image:url(../images/bg-img.png);background-position: center center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;opacity: 0.05;}
.maas_welcome_sec_contents{position: relative;margin: 0 0 45px 0;}
.maas_welcome_sec_contents_left{position: relative;}
.maas_welcome_sec_contents_left h2{color: #fff;margin: 0;font-family: 'Jost', sans-serif;font-size: 40px;}
.maas_welcome_sec_contents_right{position: relative;}
.maas_welcome_sec_contents_right p{color: #fff;margin: 0;line-height: 2;}
.maas_welcome_sec_contents .row{align-items: center;}
.web_design_sec_single{position: relative;padding: 45px 30px;background-color: #fff;box-shadow: 0px 0px 30px 0px rgb(21 21 21 / 10%);border-radius: 5px;}
.web_design_sec_single_icn{position: relative;display: flex;justify-content: space-between;margin-bottom: 20px;align-items: center;border-bottom: 1px solid #f7f8f9;padding-bottom: 20px;}
.web_design_sec_single_icn img{width: 64px;max-width: 64px;}
.web_design_sec_single_icn h3{font-size: 62px;line-height: 70px;display: inline-block;
    color: #151515;opacity: 0.1;position: relative;margin: 0;font-family: 'Jost', sans-serif;font-weight: 700;}
.web_design_sec_single_cont{position: relative;}
.web_design_sec_single_cont h3{color: #151515;margin-bottom: 20px;position: relative;font-family: 'Jost', sans-serif;font-size: 32px;}
.web_design_sec_single_cont ul{position: relative;}
.web_design_sec_single_cont ul li{position: relative;padding: 0 0 10px 0;color: #616161;font-size: 17px;font-weight: 400;transition: 0.5s ease-in-out;}
.web_design_sec_single_cont ul li i{font-size: 16px;color: #18adf1;margin: 0 10px 0 0;}
/*.web_design_sec_single_cont ul li:before{position: relative;left: 0;content: '\f00c';font-size: 16px;color: #18adf1;font-family: FontAwesome;margin: 0 10px 0 0;}*/
.web_design_sec_single_cont ul li:hover{padding-left: 10px;}
.wlcm_under_sec{position: relative;margin: -220px 0 0px 0;}


.recent_work_sec{position: relative;padding: 60px 0;}
.recent_work_sec_head{position: relative;margin: 0 0 40px 0;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 20px;align-items: center;}
.recent_work_sec_head h3{margin: 0;color: #151515;font-family: 'Raleway', sans-serif;font-weight: 700;}
.recent_work_sec_head p{margin: 0;color: #616161;}
.all_projects{position: relative;text-align: right;color: #18adf1;font-size: 16px;font-weight: normal;font-family: 'Jost';display: inline-block;width: auto;}
.all_projects i{margin: 0 10px 0 0;}
.recent_work_sec_body{position: relative;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 0px;}
.recent_work_sec_body_single{position: relative;overflow: hidden;}
.recent_work_sec_body_single img{border-radius: 0px;width: 100%;}
.recent_work_sec_body_single_overlay{position: absolute;top: 0;left: -100%;width: 100%;height: 100%;background-color: #151515;opacity: 0.8;border-radius: 0px;transition: 0.8s ease-in-out;outline: 2px solid #fff;outline-offset: -10px;}
.recent_work_sec_body_single:hover .recent_work_sec_body_single_overlay{left: 0;transition: 0.8s ease-in-out;}
.recent_work_sec_body_single_overlay_cont{position: relative;display: flex;align-items: center;justify-content: center;height: 100%;text-align: center;padding: 0 15px;}
.recent_work_sec_body_single_overlay_cont_inner{position: relative;}
.recent_work_sec_body_single_overlay_cont_inner h4{margin: 0 0 20px 0;font-weight: 600;color: #fff;}
.recent_work_sec_body_single_overlay_cont_inner p{color: #fff;font-size: 14px;font-weight: 500;}

.next_level_sec{position: relative;padding: 0 0 60px 0;}
.next_level_sec_main{position: relative;}
.next_level_sec_img{position: relative;}
.next_level_sec_img img{width: 100%;border-radius: 10px;}
.next_level_sec_img_cont{position: relative;}

.sub_title{position: relative;}
.sub_title h5{position: relative;color: #18adf1;font-size: 12px;font-weight: 600;text-transform: uppercase;letter-spacing: 2px;display: inline-block; margin: 0px 0px 20px 0px;font-family: 'Jost', sans-serif;}
.sub_title h5:after {background-color: #18adf1;display: inline-block;position: relative;
    bottom: 3px;text-align: left;width: 30px;height: 2px;margin: 0px 0px 0px 10px;content: '';}
.sub_title h1{text-transform: capitalize;position: relative;color: #14212B;*line-height: 1.4;margin: 0 0 30px 0;font-size: 52px;}
.sub_title h1 span{color: #18adf1;}
.sub_title p{color: #7A7A7A;margin: 0 0 20px 0;font-size: 18px;}
.get_start_btn{position: relative;padding: 19px 30px 17px 30px;border-radius: 5px;color: #fff;font-size: 16px;background-color: #18adf1;font-weight: 500;transition: 0.5s ease-in-out;display: inline-block;}
.get_start_btn:hover{background-color: #4e86ff;color: #fff;}
.sub_title ul{position: relative;padding: 10px 0 20px 0;}
.sub_title ul li{color: #7A7A7A;font-size: 16px;padding-bottom: 10px;position: relative;padding-left: 30px;}
.sub_title ul li:before{position: absolute;height: 15px;width: 15px;border-radius: 50%;background-color: #18adf1;margin: 0 10px 0 0;content: '';top: 5px;left: 0;}
.next_level_sec_main .row{align-items: center;}
.pl-40{padding-left: 40px;}

.we_believe{position: relative;padding: 60px 0 120px 0;}
.we_believe_main{position: relative;}
.we_believe_left_main{position: relative;height: 100%;min-height: 100%; background-size: cover; padding: 220px 0;}
.we_believe_left{background-image: url(../images/believe.jpg);background-repeat: no-repeat;background-size: cover;background-position: 50%;width: auto;margin-left: -500px;right: 0;position: absolute;top: 0; bottom: 0;left: 0;}

.we_believe_right{position: relative;height: 100%;min-height: 100%; background-color: #1b1b1b;padding: 70px 0 0 70px;margin-left: -180px;margin-top: 70px;}
.we_believe_right_inner{width: auto;margin-right: -500px;right: 0;position: absolute;top: 0;bottom: 0;left: 0;background-color: #1b1b1b;}
.we_believe_right_inner_head{position: relative;padding: 40px 0 0 70px;background-color: #1b1b1b;}
.we_believe_right_inner_head h3{position: relative;color: #fff;}
.believe_tabs{position: relative;}
.believe_tabs{display: inline-flex;}
.believe_tabs a{color: #fff;cursor: pointer;font-size: 20px;line-height: 29px; font-weight: 500;text-transform: capitalize;border-bottom: 2px solid rgb(255 255 255 / 0.15) !important;padding: 18px 18px !important;margin: 0 30px 5px 0!important;position: relative;background: none !important;}
.believe_tabs a.active{border-bottom: 2px solid #18adf1 !important;position: relative;}
.believe_tabs a.active:after{content: "";height: 10px;width: 10px;position: absolute;
    top: auto;bottom: -5px;left: 0;right: 0;text-align: center;margin: 0 auto;
    border-top: 2px solid #18adf1;border-left: 2px solid #18adf1;-webkit-transform: rotate(45deg);
    transform: rotate(45deg);background: #1b1b1b;}
.tab_contents{position: relative;margin: 20px 0 0 0;padding-right: 45%;}
.tab_contents p{color: #fff;}
.tab_left_img{position: relative;width: 200px;height: 200px;}
.tab_left_img img{width: 100%;}
.tab_right_cont{position: relative;}
.tab_right_cont p{color: #fff;font-size: 17px;}
.tab_right_cont ul{position: relative;display: block;}
.tab_right_cont ul li{position: relative;padding-bottom: 10px;color: #fff;font-size: 16px;*padding-left: 25px;}
/*.tab_right_cont ul li:before{content: '\f05d';position: absolute;left: 0;font-family: FontAwesome;   background: #18adf1;font-size: 16px;}*/
.tab_right_cont ul li i{color: #18adf1;font-size: 14px;position: relative;margin: 0 15px 0 0;}
.tab_cont_sec{position: relative;}
.tab_cont_sec .row{align-items: center;}


.banner_sec{position: relative;}
.banner_sec_img{position: relative;}
.banner_sec_img img{width: 100%;}
.banner_sec_img:after{position: absolute;top: 0;left: 0;height: 100%;width: 100%;background: rgb(0 0 0 / 0.39);content: '';}
.banner_sec_img_cont {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;
    align-items: center;justify-content: center;z-index: 1;padding: 0 5%;text-align: center;}
.banner_sec_img_cont_inner{position: relative;}
.banner_sec_img_cont_inner h1{position: relative;font-size: 60px;font-weight: 600;font-family: 'ProximaNovaBold';color: #fff;text-transform: uppercase;text-align: center;}
.banner_sec_img_cont_inner h6{font-family: 'ProximaNovaBold';color: #18adf1;font-size: 18px;}


#hm_banner .owl-prev {left: 20px; top: 50%;opacity: 0;transition: 0.4s ease-in-out;}
#hm_banner .owl-next {right: 20px;top: 50%;opacity: 0;transition: 0.4s ease-in-out;}
#hm_banner .owl-prev i {font-size: 70px !important;color: #fff;top: 0;bottom: 0;margin: auto; z-index: 1; display: -ms-flexbox; display: flex;-ms-flex-align: center;align-items: center; -ms-flex-pack: center;color: #fff;text-align: center; opacity: 1;transition: opacity .15s ease;transition: 0.5s ease-in-out;}
#hm_banner .owl-next i {font-size: 70px !important; color: #fff;line-height: 25px; top: 0;bottom: 0;  margin: auto;z-index: 1;display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;-ms-flex-pack: center;color: #fff; text-align: center;opacity: 1;transition: opacity .15s ease;transition: 0.5s ease-in-out;}
#hm_banner .owl-prev i:hover{color: #18adf1;}
#hm_banner .owl-next i:hover{color: #18adf1;}
.banner_sec:hover #hm_banner .owl-prev{opacity: 1;}
.banner_sec:hover #hm_banner .owl-next{opacity: 1;}
#hm_banner.owl-carousel{margin: 0;}
.head_sec{position: absolute;top: 35px;z-index: 11;width: 100%;}
.head_sec .container-fluid{padding-right: 50px;padding-left: 50px;}
.head_sec_main{position: relative;}
.head_sec_main .row{align-items: center;}
.maas_logo{position: relative;}
.maas_menu{position: relative;text-align: right;}
.maas_menu ul{display: block;}
.maas_menu ul li{display: inline-block !important;padding: 0 0px 0 12px !important;}
/*.maas_menu ul li a{font-size: 15px !important;*font-family: 'proxima_nova_regwebfont';*font-family: 'ProximaNovaBold';color: #fff;text-transform: uppercase;font-weight: 500;transition: 0.5s ease-in-out;*border-bottom: 3px solid transparent;}*/
.maas_menu ul li a{font-size: 20px !important;font-family: 'Barlow Condensed', sans-serif;color: #fff;text-transform: uppercase;font-weight: 500;transition: 0.5s ease-in-out;*border-bottom: 3px solid transparent;}
.call_anytime span{font-size: 16px;*font-family: 'proxima_nova_regwebfont';color: #fff;font-family: 'Barlow Condensed', sans-serif;}
.call_anytime p{margin: 0 0 5px 0;*font-family: 'ProximaNovaBold';color: #fff;font-size: 16px;font-family: 'Barlow Condensed', sans-serif;}
.maas_menu ul li a:hover{*border-bottom: 3px solid #606467;color: #18adf1;}
.get_btn{position: relative !important;background: #18adf1;font-size: 16px !important;padding: 10px 15px !important;display: inline !important;
    border-radius: 5px;border-bottom: none !important;transition: 0.5s ease-in-out !important;}
.get_btn:hover{background: #606467;color: #fff !important;}
.search_btn{position: relative;}
.search_btn i{font-size: 18px;}
.search_btn:after {content: '';position: absolute;right: -20px;top: -10px;height: 38px;
    width: 1px;background: #fff;}

.call_anytime{position: relative !important;display: flex !important;align-items: center !important;justify-content: center !important;padding-left: 20px !important;}
.call_anytime i{font-size: 18px;margin: 0 15px 0 0;}

.call_anytime:hover{border-bottom: none !important;}
.search_btn:hover{border-bottom: none !important;}


.project_completed{position: absolute;bottom: 20px;width: 100%;z-index: 11;}
.project_completed_main{position: relative;}
.project_completed_single{position: relative;background: #fff;padding: 20px;border-radius: 10px;}
.pro_img_sec{position: relative;}
.pro_img_sec img{*width: 100%;border-radius: 10px 0 0 10px;}
.pro_cont_sec{position: relative;}
.pro_cont_sec h1{margin: 0 0 0px 0;font-size: 48px;color: #18adf1;font-family: 'ProximaNovaBold';position: relative;}
.pro_cont_sec h6{position: relative;color: #000;font-weight: 600;font-family: 'ProximaNovaBold';font-size: 16px;margin: 0;}

.testimonial_sec{position: relative;padding: 0 0 60px 0;}
.testimonial_sec_main{position: relative;}
.testimonial_sec_main .row{align-items: center;}
.testimonial_left{position: relative;*padding-left: 100px;margin-left: auto;max-width: 300px;}
.default-section-title span {position: relative;margin-bottom: 15px; display: inline-block;    padding-left: 15px;line-height: 1;color: #18adf1;font-size: 18px;font-weight: 600;font-family: 'ProximaNovaBold';}
.default-section-title span::before {content: ''; width: 3px;height: 100%;background-color: #18adf1;position: absolute;left: 0;top: 50%;-webkit-transform: translateY(-50%);
    transform: translateY(-50%);}
.default-section-title h3{position: relative;font-weight: 700;margin: 0 0 15px 0;}
.default-section-title  p{color: #666666;margin: 0;}
.testi_right_sec{position: relative;display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 20px;}

.testi_right_sec_single{position: relative;padding: 30px 30px 25px 80px;background: #fff;box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;margin: 30px 15px 15px;}
.testi_right_sec_single img {border-radius: 50%;width: -webkit-fit-content!important;
    width: -moz-fit-content!important;width: fit-content!important;position: absolute;
    left: -15px;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}

.testimonial-card-text {position: relative;z-index: 2;}
.testimonial-card-text p {color: #071327;font-size: 17px;font-style: italic;}
.testimonial-intro-area {display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;
    flex-wrap: wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}
.testimonial-card-intro{width: 130px;max-width: 130px;}
.testimonial-intro-area h4 {margin-bottom: 5px;font-size: 20px;font-weight: 700;}
.testimonial-intro-area span { font-size: 14px;font-weight: 500;}
.stars ul {margin: 0;padding: 0;list-style: none;}
.stars ul li {display: inline-block;}
.stars ul li i {color: #ffab00;font-weight: 600 !important;}
#testimonial_slide.owl-carousel .owl-stage-outer{height: auto !important;}

.why_choose_sec{position: relative;margin: 0 0 60px 0;background: #1b1b1b;}
.why_choose_sec_left{position: relative;*background: url(../images/why-left-img.jpg);background-size: cover;background-position: center center;background-attachment: scroll;background-repeat: no-repeat;*padding: 47% 0;}
.why_choose_sec_left img{width: 100%;}
.why_choose_sec_left:after{position: absolute;top: 0;left: 0;height: 100%;width: 100%;background: rgb(0 0 0 / 0.39);content: '';}
.why_choose_sec_left_icn {position: absolute;top: 0;z-index: 11;display: flex;align-items: center;
    justify-content: center;text-align: center;bottom: 0; left: 0;right: 0;  }
.why_choose_sec_left_icn i{background: #fff;height: 100px;width: 100px;border-radius: 50%;line-height: 100px;color: #18adf1;font-size: 35px;font-weight: 600 !important;-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); box-shadow: 0 0 0 0 rgb(255 255 255 / 70%);}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


.why_choose_sec_right{position: relative;padding: 60px 130px 0px 0;}
.why_span {position: relative;margin-bottom: 15px; display: inline-block;    padding-left: 15px;line-height: 1;color: #18adf1;font-size: 18px;font-weight: 600;font-family: 'ProximaNovaBold';}
.why_span::before {content: ''; width: 3px;height: 100%;background-color: #18adf1;position: absolute;left: 0;top: 50%;-webkit-transform: translateY(-50%);
    transform: translateY(-50%);}
.why_choose_sec_right h1{position: relative;font-size: 45px;color: #fff;font-weight: 600;text-transform: uppercase;font-family: 'ProximaNovaBold';}
.why_choose_sec_right_cont{position: relative;}
.why_choose_sec_right_cont ul{position: relative;display: block;}
.why_choose_sec_right_cont ul li{position: relative;display: flex;align-items: center;margin: 0 0 50px 0;}
.why_choose_sec_right_cont ul li span {color: #fff;font-size: 18px;font-family: 'ProximaNovaBold';
    margin: 0 40px 0 0;position: relative;height: 60px;width: 60px;border: 1px solid #fff;
    line-height: 60px;text-align: center;border-radius: 50%;display: inline-block;flex: 0 0 60px;
}
.why_choose_sec_right_cont ul li span:after {position: absolute;content: '';height: 80px;width: 80px;border: 1px solid #fff;left: -11px; top: -11px;border-radius: 50%;}
.info_get h6{position: relative;font-size: 18px;font-weight: 600;color: #fff;font-family: 'ProximaNovaBold';margin: 0 0 5px 0;}
.info_get p{margin: 0;color: #b9c4b9;}

.mob_head{display: none;}
.maas_menu{display: block;}
.why_choose_sec .row{align-items: center;}

.sticky_header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: #151515;
  z-index: 99;
  padding: 5px 0;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);
}













@media only screen and (min-width:1801px) and (max-width:3400px) {




}
@media only screen and (min-width:1301px) and (max-width:1400px) {
.maas_menu ul li {padding: 0 0px 0 8px !important;}   
.maas_menu ul li a{font-size: 16px !important;} 

}
@media only screen and (min-width:1200px) and (max-width:1300px) {
.maas_menu ul li {padding: 0 0px 0 8px !important;}	
.maas_menu ul li a{font-size: 14px !important;}	
.call_anytime_sec{padding: 0 0px 0 10px !important;}
.call_anytime{padding-left: 0px !important;}
.search_btn:after {right: -7px;top: -12px !important;}
#testimonial_slide.owl-carousel .owl-stage-outer{height: auto !important;}
.call_anytime span{font-size: 12px;}
.call_anytime span p{font-size: 12px;}




}
@media only screen and (min-width:992px) and (max-width:1199px) {
.get_btn{display: block !important;}

}
@media only screen and (min-width:768px) and (max-width:991px) {
.get_btn{display: block !important;}


}
@media only screen and (max-width:767px) {

/*Responsive Menu*/

.gee_hamburger {background: #df4b26;position: absolute;top: 0px;right: 0;line-height: 40px;
    padding: 0px 4px 0px 5px; color: #ffffff;border: 0; font-size: 25px;font-weight: bold;
    cursor: pointer;outline: none; z-index: 100; width: 40px;border-radius: 5px;}
.gee_hamburger:focus{outline: none;}
.gee_cross:focus{outline: none;}
.gee_cross {background: #972e2e;position: absolute;top: 0px;right: 0; padding: 0px 10px 0px 10px;color: #fffbf2;border: 0;height: 40px;font-size: 3em;line-height: 57px;font-weight: bold;
    cursor: pointer;outline: none;z-index: 100;width: 40px;border-radius: 5px;}
.gee_menu {z-index: 101;font-weight: bold;font-size: 0.8em;width: 100%;background: #972e2e;
    position: absolute;text-align: center;top: 5px;display: none;border-top: 1px solid #fff7d3;left: 0;}
.gee_menu ul {margin: 0;padding: 0;list-style-type: none;list-style-image: none;}
.gee_menu ul li {display: block !important;padding: 12px 0 12px 0 !important;border-bottom: #fff7d3 1px solid;}
.gee_menu ul li:hover { display: block;background: #e14f25;padding: 12px 0 12px 0; color: #fffbf2 !important;}
.gee_menu ul li a {text-decoration: none;margin: 0px;color: #fffbf2;font-size: 17px;font-weight: 600;}
.gee_menu ul li a:hover{color: #fffbf2 !important;}
.gee_glyphicon-home {color: white;font-size: 1.5em;margin-top: 5px;margin: 0 auto;}
.gee_mobile{ width: 50px;float: right;position: relative;height: 50px;line-height: 50px;
    margin: 8px 10px 0 0;flex: 1; display: none;}
.mob_head {float: right;width: 100%;position: absolute;bottom: 10px;right: 10px;display: block;}
.search_btn{display: none !important;}
.get_btn{display: block !important;border-radius: none !important;}
.call_anytime{align-items: flex-start !important;justify-content: flex-start !important;}
.search_btn_list{display: none !important;}

/*Responsive Menu*/


.head_sec {position: relative;top: 0;background: #000;}
.head_sec .container-fluid {padding-right: 15px;padding-left: 15px;}
.maas_logo {width: 30%;display: inline-block;padding-top: 10px;}
.gee_mobile{display: block;}
.head_sec_main{padding: 10px;}
.banner_sec_img_cont{top: 25px;}
.banner_sec_img_cont_inner h6{font-size: 12px;}
.banner_sec_img_cont_inner h1{font-size: 25px;margin: 0;}
.project_completed{position: relative;bottom: 0;z-index: 1;}
.project_completed_single{text-align: center;}
.maas_welcome_sec {padding: 40px 0px 220px 0px;}
.maas_welcome_sec_contents_left {margin: 0 0 15px 0;}
.maas_welcome_sec_contents_left h2 {font-size: 30px;text-align: center;}
.maas_welcome_sec_contents_right{text-align: center;}
.web_design_sec_single {padding: 30px 20px;margin: 0 0 30px 0;}
.recent_work_sec {padding: 30px 0;}
.recent_work_sec_head {margin: 0 0 20px 0;grid-template-columns: 1fr;}
.recent_work_sec_body{grid-template-columns: 1fr;}
.why_choose_sec_right {padding: 45px 15px 0px;}
.why_choose_sec_right_cont ul li{margin: 0 0 30px 0;}
.why_choose_sec_right h1{font-size: 25px;}
#hm_banner .owl-next i{font-size: 30px !important;}
#hm_banner .owl-prev i{font-size: 30px !important;}
.next_level_sec_img {margin: 20px 0;}
.pl-40 {padding-left: 0;}
.why_choose_sec {margin: 0 0 20px 0;}
.next_level_sec {padding: 0 0 20px 0;}
.cover-background h2 {font-size: 2rem;}
.cover-background { padding: 50px 0;margin-left: 15px; margin-right: 15px;}

.we_believe {padding: 30px 0 80px 0;}
.we_believe_left{margin-left: 0;}
.we_believe_right { padding: 20px 0 0 0px;margin-left: 0; margin-top: 30px;}
.we_believe_right_inner_head {padding: 0px 0 0 5px;}
.believe_tabs a {font-size: 14px; padding: 12px 12px!important; margin: 0px 10px 5px 0!important;
}
.tab_contents {margin: 20px 0 0 0; padding-right: 0;}
.tab_right_cont {margin: 15px 0 0 0;}
.tab_cont_sec {padding: 0 10px;}
.we_believe_right_inner{position: relative;margin-right: 0;}
.testimonial_left {margin-left: 15px;max-width: inherit;}
.social-icons2{margin: 0 0 20px 0;}
.footer-style1 h3{margin: 20px 0;}
.footer-style1 .footer-bar p{text-align: center;}
.footer-bar ul {text-align: center; margin: 15px 0 0 0;}
















}



input,textarea {-webkit-user-select: text;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.back-to-top {width:40px;height:40px;line-height:40px;text-align:center;background:#000000;position:fixed;bottom:20px;right:20px;text-decoration:none;color:#fff;font-size:14px;display:none;z-index:999; border-radius:50%;}
.back-to-top:hover {opacity:.6;filter:alpha(opacity=60)}
.back-to-top:focus, .back-to-top:hover {color:#fff!important}
